.mission {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 6rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.85;
  text-align: center;
}

@media screen and (min-width: 860px) {
  .mission {
    text-align: unset;
  }
}

.mission h2 {
  margin-bottom: 1.5rem;
}

.mission p {
  opacity: 0.87;
}
