.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  gap: 1rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 860px) {
  .form {
    margin-bottom: unset;
  }
}

.form h3 {
  font-size: 23px;
  font-weight: 800;
  padding-bottom: 1rem;
}

.inputField {
  display: flex;
  flex-direction: column;
}

.inputField label {
  font-weight: bold;
}

.inputField input[type="text"],
.inputField input[type="email"],
.inputField textarea {
  font-family: "Nunito", sans-serif;
  padding: 12px 0;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid var(--border-color);
  font-size: 1rem;
  background-color: unset;
  border-radius: unset;
  outline: none;
}

.inputField input:focus,
.inputField textarea:focus {
  border-color: var(--text-color);
}

.inputField textarea {
  resize: none;
  height: 180px;
}

.radioGroup {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.radioGroup label {
  font-weight: bold;
}

.radioGroup input[type="radio"] {
  margin-right: 0.5rem;
}

.submitButton {
  margin-top: 1rem;
  max-width: 140px;
  background-color: var(--text-color);
  color: var(--bg-color);
  padding: 0.5rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
}
