.radio {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.radio-input {
  margin-right: 0.5rem;
}

.radio-label {
  margin-left: 0.5rem;
  color: #333;
}

.radio-input:checked + .radio-label {
  color: #0070f3;
}
