.footer {
    display: flex;
    justify-content: space-between;
    padding:1rem;
    border-top: 1px solid var(--border-color);
    margin-top: 4rem;
  }

.footer ul {
    display:flex;
  gap: 1.5rem;
  font-weight: bold;
}

.footer h3 {
  margin-bottom: 1rem;
}