.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 40px;
    margin-top: 4rem;
  border-top: 1px solid var(--border-color);
  }

.footer ul {
    display:flex;
  gap: 2.3rem;
  font-weight: bold;
}

.footer h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: .8rem;
}

.footer p {
  font-size: 13px;
  color: #999;
}