.footer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem 20px;
  margin-top: 2rem;
  border-top: 1px solid var(--shadow-color);
  background-color: var(--bg-color);
}

@media screen and (min-width: 860px) {
  .footer {
    padding: 1.5rem 40px;
    justify-content: space-between;
  }
}

.footer ul {
  display: none;
  gap: 2.3rem;
  font-weight: 800;
}

@media screen and (min-width: 860px) {
  .footer ul {
    display: flex;
  }
}

.footer h3 {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.85rem;
}

.footer p {
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #999;
}

@media screen and (min-width: 860px) {
  .footer {
    padding: 2rem 40px;
  }
}
