.heroContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.heroImg {
  border-radius: 8px;
}

.heroInfo {
  text-align: center;
  margin-top: 20px;
}

.heroInfo h1 {
    font-size: 32px;
  margin-bottom: 24px;
}

@media screen and (min-width: 860px) {
  .heroInfo h1 {
    font-size: 38px;
  }
}

.btnContain {
  margin-top: 28px;
}

.btnContain button {
  margin-right: 20px;
}

.btnContain a:nth-last-child(1) button {
  background-color: unset;
  color: var(--text-color);
}

@media screen and (min-width: 860px) {
  .heroContain {
    flex-direction: row;
    justify-content: center;
  }

  .heroInfo {
    text-align: unset;
    margin-top: unset;
    margin-left: 64px;
  }
}
