.socials {
    display: flex;
    flex-direction: column;
    width: 100%;
max-width: 360px;
}

.socials h3 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.socials ul {
margin-bottom: 40px;
border-bottom: 1px solid var(--border-color);
}
.socials ul li {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    font-size: 15px;
    font-weight: 600;
}
.socials ul li svg {
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

.socials button {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 4px;
    background-color: var(--text-color);
    color: var(--bg-color);
}

.socials .direct {
    font-weight: 700;
    text-decoration: underline;
}