.optionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.optionInfo {
  max-width: 65%;
}

.optionInfo h4 {
  font-size: 22px;
}

.optionImg {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.optionImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.optionInfo p {
  margin: 1rem 0;
  line-height: 1.85;
}

.optionInfo a {
  font-weight: 700;
  text-decoration: underline;
}
