.optionItem {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

@media screen and (min-width: 860px) {
  .optionItem {
    flex-direction: row;
    align-items: center;
  }
}

.optionInfo {
  margin-top: 2rem;
}

.optionInfo h4 {
  font-size: 22px;
  font-weight: 800;
}

.optionImg {
  width: 100%;
  height: 160px;
  border-radius: 8px;
}

.optionImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

@media screen and (min-width: 860px) {
  .optionImg {
    width: 120px;
    height: 120px;
  }

  .optionInfo {
    margin-top: unset;
    max-width: 65%;
  }
}

.optionInfo p {
  margin: 1rem 0;
  line-height: 1.85;
}

.optionInfo a {
  font-weight: 700;
  text-decoration: underline;
}
