.navMenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  z-index: 100;
}

@media (max-width: 768px) {
  .navMenu {
    display: flex;
  }
}
