.navbar {
  display:flex;
  align-items: center;
}

.navList {
  display: flex;
  gap: 2.3rem;
  margin-right: 80px;
}

.navLink {
  text-decoration: none;
  font-weight: bold;

}

@media (max-width: 768px) {
  .navList {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    z-index: 999;
  }

  .navLink {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: center;
  }

  .hamburger {
    display: block;
  }
}