.posts {
  margin-top: 3rem;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 1.25rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.post img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.postContent {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.85;
  margin-bottom: 1.5rem;
}

.titleContain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.titleContain h3 {
  width: 240px;
  margin-left: 32px;
  font-weight: 800;
  line-height: 1.65;
}

@media screen and (min-width: 860px) {
  .post {
    flex-direction: row;
    align-items: center;
  }
  .titleContain {
    justify-content: unset;
  }

  .titleContain h3 {
    margin-left: 40px;
  }

  .postContent {
    padding: 0 1rem;
    width: 40%;
    margin: unset;
  }
}

  .readingTime {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
