.supportButtons {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.supportButtons button {
  margin-right: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.inactive {
  pointer-events: none;
  opacity: 0.65;
}
