.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 20px;
  box-shadow: var(--shadow-color) 0px 1px 4px;
  z-index: 1000;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.themeToggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.themeIcon {
  font-size: 1.5rem;
}

.hamburger {
  display: none;
  cursor: pointer;
}

@media screen and (min-width: 860px) {
  .header {
    padding: 1.5rem 40px;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
