.aboutSection {
  display: flex;
  flex-direction: column-reverse;
  margin: 3rem 0 8rem 0;
}




@media screen and (min-width: 860px) {
  .aboutSection {
    flex-direction: row;
  align-items: center;
  }

  .aboutSection:nth-child(even) {
  flex-direction: row-reverse;
}
}

.aboutSection:nth-child(even) .aboutImage {
  margin-right: 4rem;
}

.aboutSection:nth-child(odd) .aboutImage {
  margin-left: 4rem;
}

.aboutInfo h2 {
  margin-bottom: 2rem;
}

.aboutInfo {
  line-height: 1.85;
}

.aboutImage img {
  width: 100%;
  max-width: 340px;
  border-radius: 4px;
}
